*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(../img/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.form{
    width: 300px;
    height: 250px;
    background-color: rgb(235, 176, 50);
    padding: 10px;
    border-radius: 8px;
    border: 2px solid transparent;
    top: 50%;
    left: 70%;
    transform: translate(-50%,-30%);
    position: absolute;
    box-shadow: 6px 8px 15px 0px white;
}

input{
    padding: 5px;
}

::placeholder{
    color: gray;
    font-size: 15px;
}

.user{
    width: 99%;
    height: 45px;
    margin: auto;
    border: 1px solid cornflowerblue;
    border-radius: 10px;
    margin-bottom: 10px;

}

.login{
    background: greenyellow;
    font-size: 12px;
    border-radius: 10px;
    font-weight: 600;
    width: 99%;
    height: 25px;
    padding: 0;
    border: none;
    margin-bottom: 10px;
}

.link{
    text-decoration: left;
    margin-top: 10px;
}

.link a{
    text-decoration: none;
    color: red;
    font-size: 20px;
}

.btn2{
    width: 200px;
    height: 25px;
    background: palegoldenrod;
    border-radius: 5px;
    padding: 2px;
    text-align: left;
}